*{
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}
.topmenu{
    padding: 7px 0;
    background-color: #758874;
}
.topmenu ul li{
    display: inline-block;
    color: white;
    margin-left: 15px;
}
.topmenu ul li:hover{
    display: inline-block;
    color: black;
    margin-left: 15px;
}
#topmenu1{
    float: right;
    font-size: 14px;
}
.container1{
    width: 98%;
    margin: 0 auto;
}
.container1:after{
    content: '';
    display: block;
    clear: both;
}
.container2{
    width: 85%;
    margin: 0 auto;
}
.container2:after{
    content: '';
    display: block;
    clear: both;
}
header{
    background-color: whitesmoke;
}
header h1{
    float: left;
    padding: 15px 0;
    color: black;
    margin-left: 15px;
}
header h1:hover{
    float: left;
    padding: 15px 0;
    color: #758874;
    margin-left: 15px;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    display: inline-block;
    padding: 24px 0;
    margin-left: 15px;
    color: black;
}
header ul li a:hover{
    display: inline-block;
    padding: 24px 0;
    margin-left: 15px;
    color: #758874;
}
.search{
    padding: 24px 0;
    float: left;
}
input{
    padding: 5px 5px;
    background-color: whitesmoke;
    text-align: center;
    border: none;
}
input:focus-visible{
    padding: 5px 5px;
    background-color: whitesmoke;
    text-align: center;
    border: none;
}
.container2 i{
    padding-left: 20px;
}
.banner{
    height: 71vh;
    border: 2px solid;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(117, 136, 116, 0.70);
}
.banner h2{
    color: whitesmoke;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid;
}
section{
    padding: 50px 0;
}
