*{
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}
.topmenu{
    padding: 7px 0;
    background-color: #758874;
}
.topmenu ul li{
    display: inline-block;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.topmenu ul li:hover{
    display: inline-block;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
#topmenu1{
    float: right;
    font-size: 12px;
    margin-top: 3px;
}
.container1{
    width: 95%;
    margin: 0 auto;
}
.container1:after{
    content: '';
    display: block;
    clear: both;
}
.container2{
    width: 85%;
    margin: 0 auto;
}
.container2:after{
    content: '';
    display: block;
    clear: both;
}
header{
    background-color: whitesmoke;
    border-bottom: 5px solid;
}
header h1{
    float: left;
    padding: 15px 0;
    color: black;
}
header h1:hover{
    float: left;
    padding: 15px 0;
    color: #758874;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 24px 15px;
    display: inline-block;
    color: black;
}
header ul li a:hover{
    padding: 24px 15px;
    display: inline-block;
    color: #758874;
}
header ul li a i{
    display: inline-block;
    color: black;
}
header ul li a i:hover{
    display: inline-block;
    color: #758874;
}
.box{
    padding: 17px 65px;
}
.search{
    background-color: whitesmoke;
    width: 650px;
    padding: 5px 5px;
    border: 3px solid;
    border-radius: 30px;
    text-align: center;
}
.search:focus{
    outline: none;
}
.banner{
    height: 65vh;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(117, 136, 116, 0.45);
}
.banner h2{
    color: #373f34;
    z-index: 1;
    padding: 24px 20px;
    font-style: oblique;
    font-size: 22pt;
}
.banner h5{
    color: whitesmoke;
    z-index: 1;
    padding: 24px 20px;
    border-left: 3px solid;
}
section{
    padding: 50px 0;
}
footer{
    padding: 18px 0;
    background-color: #333333;
    border-bottom: 1px solid;
}
footer h5{
    text-align: center;
    font-size: 8pt;
    color: whitesmoke;
}